.model{
    -fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4);
    -fx-background-color: linear-gradient(to right, #1D1D41, #4A569D);;
    -fx-background-insets: 12;
    -fx-background-radius: 50;
}
.order{
    -fx-effect: dropshadow(three-pass-box, derive, 10, 0, 4, 4);
    -fx-background-color: white;
    -fx-background-insets: 12;
    -fx-background-radius: 20;
    -fx-border-color: rgba(122, 11, 192, 1) ;
    -fx-border-radius: 20;
    -fx-border-insets:12 ;
}
.owner{
     -fx-effect: dropshadow(three-pass-box, derive, 10, 0, 4, 4);
     -fx-background-color: white;
     -fx-background-insets: 12;
     -fx-background-radius: 50;
     -fx-border-color: black;
     -fx-border-radius: 50;
     -fx-border-insets:12 ;
 }
.buton{
    -fx-background-insets: 12;
    -fx-background-radius: 150;
}
.model2{
    -fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4);
    -fx-background-color:  linear-gradient(to right, #009FFD, #2A2A72);
    -fx-background-insets: 12;
    -fx-background-radius: 20;
}
.raside{
    -fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4);
    /*-fx-background-insets: 12;*/
}
.raside2{
    -fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4);
    -fx-border-radius: 30;
    -fx-background-color:  rgba(39, 0, 130, 0.42);
}
.forPane{
    -fx-background-color:  linear-gradient(to right, #da22ff, #9733ee);
    -fx-effect:  dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4);
    -fx-background-radius: 30;
}


